#image1 {
	background-image: url('banner.jpg') !important;
	height:900px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: static;
	box-sizing: border-box;
	background-position: bottom center;
}
.p1{
	opacity: 0.8;
	background-color: black;
	background-blend-mode: overlay;
width: auto;
height: 900px;}

.p3{
	padding-top: 38%;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
	
	color: #ffffff !important;

}
.z2{
	border-bottom: 2px solid white;
}

.c1{
	padding-top: 60px;
	text-align: center;
	 background-color: #f6f6f6 !important;}
 


}

 h1{
 	padding-top: 40px;
 	text-align: center;
 	
 	font-size: 32px;
color: #e09e0f !important;
font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
font-weight: 500;
line-height: 1em;
}
 h2{
 	padding-top: 80px;
 	margin-left: 80px;
 	text-align: center;
 	font-size: 30px;
 }

 .l1{
 	background-color: orange;
 	height:auto;
 	width: auto;
 	padding: 15%;
 }

 .l2{
     background-color: rgb(64,64,64);
     color: #ffffff;
  width:auto;
height:auto; }
 h3{
 	    font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
font-size: 30px;
padding: 7px;
color: white;
font-weight: 500;

    word-wrap: break-word;
text-align: center;

 }

 #k1{
 	padding-top: 80px;
 	height: 900px;
 }

 .button {
   border-radius: 4px;
  background-color: #f4511e;

  color: white;
  text-align: center;
  font-size: 20px;

  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
 background-color: rgba(0, 0, 0, 0.05);
 border: 2px solid white;
  margin-top: 10px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.l3{


	color:#ed9410;
    font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
        font-size: 21px;
        margin-right: 20%;
      
justify-content: center;


}

.l4{
	margin-left: 90px;
	font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
}

.k3{
	text-decoration: center;
	background-color: orange;
	margin-left: 35%;

}

.l5{
  padding-top: 9px;
	margin-left: 30px;
	color:#ed9410;
    font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
        font-size: 18px;


}
.l6{
	text-decoration: none;
	color:white;
	text-align: center !important;

	font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
	margin-left: 30px;
	
 }
 .e1{
 	font-size: 18px;
 	vertical-align: baseline;
 	padding-top: 10px;
 }
.e2{

  padding-top: 28px;
   
	color:#ed9410;
    font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
        font-size: 21px;


}
.l7
{
	color:white;
	text-align: center !important;


	font-family: 'Antic Slab',Georgia,"Times New Roman",serif;
	font-size: 21px;
	
 

}
#f1{
	background-color: #000000;
	padding: 15px 0 5px;
	height:auto;
	color:white;
}
.c5{
	width: 80%;
max-width: 1080px;
margin: auto;
}

.f2{
	color: #ffffff;
	float: none;
text-align: center;
padding-bottom: 10px;
}
.slow-transition {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms;
}

.slow-transition:hover {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}


.l7.hover{
	background-color: white;
}
.nav-link{
	font-size: 21px;
	color:black!important;
}

.g1{
	height:50%;
}
.wrapper{
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	width:100%;
	text-align: center;
}
#navbar{


		position: relative;
		z-index: 9999;




		border-top: 2px  solid #ebb518!important;    width: 60%;
		    text-align: center;
		    border-top: 2px solid #ebb518 !important;
		    margin-top: 115px;
		    background-color: white;

}
a:hover{


  color:yellow;
}

.active{
	color:#ebb518;
}